// Brand colors
$psylo_bright: #376EAE;
$psylo_lt: #324357;
$psylo_dk: #101A28;
$popcorn: #E8C02D;
$salmon: #B33951;
$aqua: #10d9c4;
$aqua_dk: #119b8d;

// Utility colors
$white: #fff;
$black: #000;

$base: $psylo_dk;
$text: $white;
$primary: $psylo_lt;
$secondary: $salmon;
$tertiary: $popcorn;
$cta1: $aqua;
$cta2: $psylo_bright;


html {
  color: $white;
  background-color: $black;
  body {
    background-color: $secondary;

    a {
      padding-top: 0;
      line-height: 1;
      color: $white;//$psylo_bright;
      background-color: $aqua_dk; //#ffffffff;
      border: 3px dotted $white; //$psylo_bright;
      text-shadow: none;
      &:visited {
        // color: $psylo_lt;
        // border-color: $psylo_lt;
      }
    }
  }
}