<div id="site-container">
  <header class="hidden">
    <h1>Fungi Delights</h1>
    <p>Gourmet and Medicinal Mushrooms</p>
  </header>
  <main>
    <div>
      <img src="/images/Fungi Delights Logo.svg" />
    </div>
    <div class="content-container">
      <section class="content-box content-box-1">
        <h2>Coming soon!</h2>
        <p>Cultivating a culture <span class="nowrap">of curiosity</span></p>
        <!-- <a href="mailto:info@fungi-delights.com">info&#64;fungi-delights.com</a> -->
      </section>
      <section class="content-box content-box-2">
        <h2>We're spawning our website...</h2>
        <!-- <a href="mailto:info@fungi-delights.com">info&#64;fungi-delights.com</a> -->
      </section>
      <section class="content-box content-box-3">
        <h2>Contact us:</h2>
        <a href="mailto:info@fungi-delights.com">info&#64;fungi-delights.com</a>
      </section>
    </div>
  </main>
  <footer>
    <p class="hidden">Copyright Fungi Deights Ltd 2024</p>
  </footer>
</div>
